[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-opera-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-opera-submitters
	submit = group ldap/opnfv-gerrit-opera-submitters
	forgeAuthor = group CLA Accepted - Individual
	forgeAuthor = group ldap/opnfv-gerrit-opera-contributors
	forgeAuthor = group ldap/opnfv-gerrit-opera-submitters
	read = group CLA Accepted - Individual
	read = group GitHub Replication
	submitAs = group CLA Accepted - Individual
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-opera-submitters
	push = group ldap/opnfv-gerrit-opera-submitters
	pushTag = group ldap/opnfv-gerrit-opera-submitters
	pushSignedTag = group ldap/opnfv-gerrit-opera-submitters
	read = group GitHub Replication
	addPatchSet = group CLA Accepted - Individual
