##############################################################################
# Copyright (c) 2016-2017 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
python-cinderclient==2.0.1
python-glanceclient==2.6.0
python-keystoneclient==3.10.0
python-neutronclient==6.1.0
python-novaclient==7.1.0
python-openstackclient==3.9.0
